<!--suppress HtmlUnknownTarget -->
<html lang="fr">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, user-scalable=no">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet"
          type="text/css"
          href="/webjars/materializecss/1.0.0/css/materialize.min.css">
    <link rel="stylesheet"
          type="text/css"
          href="/webjars/font-awesome/5.7.1/css/all.min.css">
    <link rel="stylesheet"
          type="text/css"
          href="/css/main.css">
</head>
<body>
