<nav class="teal">
    <div class="nav-wrapper">
        <a href="/"
           class="brand-logo"><i class="fas fa-home"></i></a>
        <a data-target="slide-out"
           class="sidenav-trigger"><i class="fas fa-bars"></i></a>
    </div>
</nav>

{{> commons/sidenav}}
