<div id="slide-out"
     class="sidenav sidenav-fixed">
    <a href="/"
       class="logo waves-effect">
        <!--suppress HtmlUnknownTarget -->
        <img src="/images/dd_logo.png"
             alt="WarhammerV3 image" />
    </a>
    <ul>
        <li><a href="/"><i class="fas fa-users"></i>Accueil</a></li>
        <li><a href="/player-creation"><i class="fas fa-user-plus"></i>Créer personnage</a></li>
        <li><a href="/actions"><i class="fas fa-fist-raised"></i>Actions</a></li>
        <li><a href="/skills"><i class="fas fa-graduation-cap"></i>Compétences</a></li>
    </ul>
</div>
