{{> commons/header }}
{{> commons/navigation }}

<main>
    <div class="container">
        <h1>Home page</h1>

        {{#playersExist}}
            <ul class="collection">
                {{#players}}
                    <a href="/player/{{id}}"
                       class="collection-item">{{name}}</a>
                {{/players}}
            </ul>
        {{/playersExist}}
    </div>
</main>

{{> commons/scripts}}
{{> commons/footer}}

