<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Accueil</title>
    <th:block th:include="commons/headers" />
</head>
<body>

<th:block th:include="commons/navbar" />
<th:block th:include="commons/sidenav" />

<main>
    <div class="container">
        <h1>Home page</h1>

        <!--/*@thymesVar id="players" type="java.util.List<>"*/-->
        <ul th:if="${not players.isEmpty()}"
            class="collection">
            <!--/*@thymesVar id="player" type="com.cnicolas.ddwebapp.database.entities.Player"*/-->
            <a th:each="player : ${players}"
               th:href="@{/player/{playerId}(playerId=${player.id})}"
               th:text="${player.name}"
               class="collection-item"></a>
        </ul>
    </div>
</main>

<th:block th:include="commons/scripts" />

</body>
</html>
