<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Création de personnage</title>
    <th:block th:include="commons/headers" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!--suppress HtmlUnknownTarget -->
    <link rel="stylesheet"
          type="text/css"
          href="/css/mstepper.min.css">
</head>
<body>

<th:block th:include="commons/navbar" />
<th:block th:include="commons/sidenav" />

<main>
    <div class="container">
        <h1>Créez votre personnage !</h1>

        <form method="post"
              action="/player">
            <ul class="stepper linear">
                <li class="step active">
                    <div class="step-title waves-effect">Nom et race</div>
                    <div class="step-content">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name"
                                       name="name"
                                       type="text"
                                       minlength="3"
                                       required>
                                <label for="name">Nom du personnage</label>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="step">
                    <div class="step-title waves-effect">Résultat</div>
                    <div class="step-content"></div>
                    <div class="step-actions">
                        <button type="submit"
                                class="btn waves-effect waves-light">Terminé !
                        </button>
                    </div>
                </li>
            </ul>
        </form>
    </div>
</main>

<th:block th:include="commons/scripts" />
<!--suppress HtmlUnknownTarget -->
<script type="text/javascript"
        src="/js/mstepper.min.js"></script>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        new MStepper(document.querySelector('.stepper'))
    })
</script>

</body>
</html>
